<launch>
  <machine name="local" address="localhost" default="true" />

  <param name="use_sim_time" value="true"/>
  <arg name="rate" default="1.0" />
  <arg name="slam_config"
    default="$(find slam_constructor)/config/slams/viny_slam_base.properties"/>

  <node name="sh_slam" pkg="slam_constructor" type="sh_slam"
        cwd="node" required="true" output="screen">
    <param name="slam/config" value="$(arg slam_config)" />

    <param name="in/lscan2D/ros/topic/name" value="/base_scan" />
    <param name="in/odometry/ros/tf/odom_frame_id" value="odom_combined" />
  </node>

  <node name="player" pkg="rosbag" type="play"
        args="--delay=3 --clock --rate $(arg rate) $(arg path)" />

  <node name="rviz" pkg="rviz" type="rviz" respawn="true"
        args="-d $(find slam_constructor)/rviz/debug.rviz" />

</launch>
